<html>
  <head>
    <title>Twitterish</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
  </head>
  <body>
    <h1>Twitterish</h1>
    <form action='/api/tweet' method="POST">
      Name:
      <input name="name" type="text" />
      Tweet:
      <input name="tweet" type="text" maxlength="140" />
      <input type="submit" />
    </form>
    <div id="feed">
        <h2> Tweets </h2>
        {% for tweet in tweets %}
        <div class="tweet">
            <b>{{ tweet[0] }}</b>
            <p>{{ tweet[2] }}</p>
        </div>
        {% endfor %}
    </div>
  </body>
</html>
